<!DOCTYPE html>
<head>
    <title>
       Doctor Login
    </title>
    <link rel="icon" type="image/png" sizes="128x128" href="../images/id-card.png">
 
    <link rel="stylesheet" href="../Docter/DLogin.css">
</head>

<body>
    <div class="container">
        <div class="imgcontainer">
        <img src="../images/id-card-1.png" class="moved-image">
    </div>
    <h1>Login with your details</h1> 

        <div class="center1">
           
    <form action="/doctor/login" method="post">
        <label for="id_card">ID Card Number:</label>
        <input type="text" id="id_card" placeholder="Enter ID Card Number" required name="service_id">
        <br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password"placeholder="Enter Password" required name="pin">
        <br>
        <p><%=alert%></p>
        <br>
        <h5>Forget Password</h5>
        <input type="submit" value="Login">
    </form> 
        </div>
    </div>
</body>
</html>